<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Genesis">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->

        <activity android:name=".combat.arCore.arCore"></activity>
        <activity android:name=".menu.Quest.QuestMap.QuestMap" android:label="@string/title_activity_quest_map" />
        <activity android:name=".menu.Quest.QuestsCreate.QuestCreateMenu" />
        <activity android:name=".menu.Account.Person" />
        <activity android:name=".menu.Account.Account" />
        <activity android:name=".menu.Social.FriendsList.Friend" />
        <activity android:name=".menu.Social.FriendsList.FriendsList" />
        <activity android:name=".menu.Account.Inventory.view.InventoryMainActivity" />
        <activity android:name=".menu.Account.Inventory.view.EquipmentActivity" />
        <activity android:name=".menu.Account.Inventory.view.EquipmentAdapter" />
        <activity android:name=".menu.Map.Map" android:label="@string/title_activity_map" />
        <activity android:name=".menu.Register.Register" />
        <activity android:name=".menu.Account.Setting" />
        <activity android:name=".menu.Quest.QuestMenu.QuestMenu" />
        <activity android:name=".menu.Account.planner.Planner" />
        <activity android:name=".menu.Account.Status" />
        <activity android:name=".menu.MainMenu.MainMenu" />
        <activity android:name=".menu.Login.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_maps_key" />
        <meta-data android:name="com.google.ar.core" android:value="required" />

    </application>

</manifest>